<nav class="navbar navbar-inverse">
  <div class="container">

    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        {{model.appName}}
      </a>
    </div>

    <div class="navbar-collapse">
        <ul class="nav navbar-nav">
          {{#each mod in model.modules}}
          <li>{{#link-to mod.route}}{{mod.name}}{{/link-to}}</li>
          {{/each}}
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </li>
        </ul>
    </div>

  </div>
</nav>

{{outlet}}
