<header>
  <div class="container">
    <nav class="navbar nav">
      <a class="navigate">
        {{appName}}
      </a>
      <ul>
      </ul>
    </nav>
  </div>
</header>
<div class="container">
<h1 id="title">It's Fair!</h1>

{{outlet}}

</div>
